* {
  box-sizing: border-box;
}
h1 {

}
a, a:visited {
  color: black;
}
a:hover {
  color: $primaryColor;
}
a:active {
  color: darken($primaryColor, 10%);
}

h2 {

}

h3 {

}

p {

}

button {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  overflow: visible;
  text-transform: none;
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
    border: 0;
  }
}
//remove ios highlighting on links/buttons
button, a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
