@import 'variables';

// .transit-container {

// }

// .countdownclock-container {
  // background-color: #F4F4F4;
  // border: 2px solid $tertiaryColor;
  // border-radius: 20px;
  // margin-bottom: 5px;
  // overflow: hidden;
// }

// //bar
// .countdownclock__bar {
//   display: flex;
//   align-items: center;
// }
// .countdownclock__name {
//   background-color: gold;
//   width: 70%;
// }
.countdownclock__star {
  // background-color: aqua;
  width: 10%;
  display: flex;
  justify-content: center;
  min-width: 50px;
}
.countdownclock__star img{
  max-height: 50px;
  max-width: 50px;
  height: 100%;
  width: 100%;
}
// .countdownclock__badges {
  // background-color: mediumpurple;
  // width: 20%;
  // display: flex;
// }
.countdownclock-badge {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  align-items: center;
}
.countdownclock-badgerow {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  align-items: center; 
}
// .countdownclock-badge__sm {
//   width: 30px;
//   height: 30px;
//   border-radius: 50%;
// }
// //row
// .countdownclock__toggle{
//   display: block;
// }
// .countdownclock__row {
//   display: flex;
// }
// .countdownclock__train {
//   width: 10%;
// }
// .countdownclock__headsign {
//   width: 70%;
// }
// .countdownclock__time {
//   width: 20%;
// }