@import 'variables';
@import 'globalstyle';
@import 'transitions';

// @import 'navbar';
@import 'transit';

body {
  font-family: $fontStack;
  font-size: $fontSizeBase;
}
.countdownclock__row {
  font-size: $fontSizeSecond;
}
// .container {

// }

// .top-bar {
//   display: flex;
//   justify-content: space-between;
//   background-color: $primaryColor;
// }

